<nav class="navbar navbar-default">
  <div class="containeir-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to "Logout", destroy_user_session_path %></li>
      <li><a href="#">Page 2</a></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </div>
</nav>